body {
	background-color: #f8f8f8;
	font-family: "PT Sans", sans-serif;
	display: flex;
	flex-direction: column;
	width: 320px;
	margin: 0 auto;
}

p {
	font-size: 14px;
}

label {
	margin: 0 10px;
	background-color: #eeeeee;
	flex-grow: 1;
	border-radius: 5px;
}

#personal:checked ~ div.building {
	display: none;
}

#building:checked ~ form {
	display: none;
}

input:checked+label {
	background-color: green;
}

h2 {
	font-size: 20px;
	display: block;
	width: 100%;
}

input {
	display: block;
}

.parameters div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.map-result {
	display: block;
	min-height: 200px;
	b1ackground-image: url('source/map.jpg');
}

a {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
	flex-grow: 1;
	text-decoration: none;
	color: black;
	font-size: 14px;
	box-sizing: border-box;
	padding: 5px;
	background-color: #eeeeee;
	border-radius: 5px;
}

.error-popup {
	width: 100%;
	min-height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hidden {
	display: none;
}

@media (min-width: 768px) {
	body {
		flex-direction: row;
		width: 708px;
	}

	p {
		font-size: 16px;
	}

	.parameters {
		width: 256px;
	}

	.map-result {
		flex-grow: 1;
	}
}

@media(min-width: 1300px) {
	body {
		width: 1220px;
	}

	p {
		font-size: 20px;
	}

}